:root  {
    --color-1: #2b2b2b;
    --color-2: #3c3c3c;
    --color-3: #7BD742;
    --color-3-highlight: #69B839;
    --color-4: #644f7a;
    --color-5: #3a2254;

}

* {
    margin: 0;
    padding: 0;
    font-family: Roboto,sans-serif;
    font-size: 18px;
}

body {
    display: grid;
    place-content: center;
    background-color: var(--color-1);
    color: var(--color-3);
}

main {
    background-color: var(--color-5);
    width: 500px;
}

#title {
    text-align: center;
    font-size: 50px;
}

body .top-wrapper {
    display: flex;
    padding-top:  14px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

div.form-w {
    margin-bottom: 8px;
    margin-top: 8px;
}

#food-select {
    width: 100px;
    font-size: 18px;
}

body .bottom-wrapper {
    display: flex;
    padding-top:  14px;
    justify-content: center;
    align-items: center;
}


button  {
    width: 140px;
    height: 50px;
    color: darkgreen;
    background: #29ca8e;
    border: 0;
    border-radius: 5px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

.btn {
    padding-top: 40px;
}

#btn-loader {
    pointer-events: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #fff;
    animation: an1 1s ease infinite;
}

@keyframes an1 {
    0% {
        transform: rotate(0turn);
    }
    100%{
        transform: rotate(1turn);
    }
}



.collapsible {
    width: 280px;
    overflow: hidden;
    font-weight: 500;
    margin: 8px;
}

.collapsible-text {
    max-height: 22px;
    background: var(--color-4);
    border-radius: 2px;
    transition: all 0.3s ease;
    padding-top: 6px;
}

.collapsible-text label {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 15px 15px 0;
    cursor: pointer;
}

.collapsible-text p {
    padding-left: 15px;
    padding-right: 15px;
}

#expand-btn {
    appearance: none;
}
#how-expand-btn {
    appearance: none;
}

.collapsible input:checked +.collapsible-text{
    max-height: 400px;
    transition: all 0.3s ease;
}

#calc-btn {
   align-items: center;
   appearance: none;
   border-radius: 4px;
   border-style: none;
   box-shadow: rgba(0, 0, 0, .2) 0 3px 1px -2px,rgba(0, 0, 0, .14) 0 2px 2px 0,rgba(0, 0, 0, .12) 0 1px 5px 0;
   box-sizing: border-box;
   color: var(--color-4);
   cursor: pointer;
   display: inline-flex;
   font-family: Roboto,sans-serif;
   font-size: .875rem;
   font-weight: bold;
   height: 42px;
   justify-content: center;
   letter-spacing: .0892857em;
   line-height: normal;
   min-width: 64px;
   outline: none;
   overflow: visible;
   padding: 0 16px;
   position: relative;
   text-align: center;
    background-color: var(--color-3);
}

#calc-btn:hover {
    background-color: var(--color-3-highlight);
}
