* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    place-content: center;
    background-color: darkolivegreen;
}

button  {
    width: 140px;
    height: 50px;
    color: darkgreen;
    background: #29ca8e;
    border: 0;
    border-radius: 5px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

button:hover {
    background: indianred;
    cursor: pointer;
}

#btn-loader {
    pointer-events: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #fff;
    animation: an1 1s ease infinite;
}

@keyframes an1 {
    0% {
        transform: rotate(0turn);
    }
    100%{
        transform: rotate(1turn);
    }
}

.wrapper {
    display: flex;
    padding-top:  50px;
    justify-content: center;
}

.collapsible {
    max-width: 450px;
    overflow: hidden;
    font-weight: 500;
}

.collapsible-text {
    max-height: 45px;
    background: white;
}

.collapsible-text label {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 15px 15px 0;
    color: #1c1c6b;
}

.collapsible-text p {
    padding-left: 15px;
    padding-right: 15px;
}

#expand-btn {
    appearance: none;
}

.collapsible input:checked +.collapsible-text{
    max-height: 400px;
}