:root  {
    --color-1: #2b2b2b;
    --color-2: #3c3c3c;
    --color-3: #7BD742;
    --color-3-highlight: #69B839;
    --color-4: #644f7a;
    --color-5: #3a2254;
    --shadow-color: #13210A;
}

* {
    margin: 0;
    padding: 0;
    font-family: Roboto,sans-serif;
    font-size: 18px;
}

@media screen and (max-width: 760px) {
    .bottom-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-1);
    color: var(--color-3);
}

main {
    max-width: 800px;
    padding: 0 42px;
    margin: 50px 20px;
    background-color: var(--color-2);
    border-radius: 2px;
    box-shadow:
            0 1px 1px var(--shadow-color),
            0 2px 2px var(--shadow-color),
            0 4px 4px var(--shadow-color),
            0 8px 8px var(--shadow-color),
            0 12px 12px var(--shadow-color)
}



#title {
    text-align: center;
    font-size: 50px;
    text-shadow: 3px 3px 0 var(--color-5);
}

body .top-wrapper {
    display: flex;
    padding: 14px 0;
    margin-bottom: 10px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
form {
    width: 75%;
    margin-top: 12px;
}

div.form-w {
    margin: 10px 0;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}

.form-w label{
    font-size: 20px;
}

#food-select {
    width: 100px;
}
#weight {
    width: 97px;
}

body .bottom-wrapper {
    display: flex;
    padding-top:  14px;
    justify-content: center;
}


#calc-btn {
    align-items: center;
    appearance: none;
    border-radius: 4px;
    border-style: none;
    box-shadow:
            0 1px 1px var(--shadow-color),
            0 2px 2px var(--shadow-color),
            0 3px 3px var(--shadow-color);
    box-sizing: border-box;
    color: var(--color-4);
    cursor: pointer;
    display: inline-flex;
    font-family: Roboto,sans-serif;
    font-size: .875rem;
    font-weight: bold;
    text-shadow: 0 0 3px white;
    height: 42px;
    justify-content: center;
    letter-spacing: .0892857em;
    line-height: normal;
    min-width: 140px;
    outline: none;
    overflow: visible;
    padding: 0 16px;
    position: relative;
    text-align: center;
    background-color: var(--color-3);
}

#calc-btn:disabled {
    pointer-events: none;
    cursor: default
}

#calc-btn:hover {
    background-color: var(--color-3-highlight);
}

.btn {
    padding-top: 40px;
}

#btn-loader {
    pointer-events: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #fff;
    animation: an1 1s ease infinite;
}

@keyframes an1 {
    0% {
        transform: rotate(0turn);
    }
    100%{
        transform: rotate(1turn);
    }
}

.middle-wrapper {
    background-color: var(--color-3-highlight);
    max-height: 0;
    overflow: hidden;
    line-height: 26px;
    border-radius: 2px;

}

.middle-wrapper-active {
    background-color: var(--color-3-highlight);
    color: var(--color-5);
    border-radius: 2px;
    box-shadow:
            0 1px 1px var(--shadow-color),
            0 2px 2px var(--shadow-color),
            0 3px 3px var(--shadow-color);

    max-height: 400px;
    margin: 10px 8px;
    padding: 6px 10px;
    line-height: 26px;
    overflow: hidden;
    transition: max-height 0.3s ease;


}


.collapsible {
    width: 280px;
    background: var(--color-4);
    border-radius: 2px;
    font-weight: 500;
    margin: 8px;
    padding-top: 6px;
    height: 100%;
    box-shadow:
            0 1px 1px var(--shadow-color),
            0 2px 2px var(--shadow-color),
            0 3px 3px var(--shadow-color);
}

.collapsible label {
    display:flex;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
}

.collapsible label::before {
    content: "+";
    margin-right: 10px;
    font-size: 24px;
    font-weight: 600;
}

.collapsible .collapsible-text {
    padding: 0 10px;
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s, padding 0.3s;
}


input[type="checkbox"] {
    display: none;
}

.collapsible input[type="checkbox"]:checked + label + .collapsible-text{
    max-height: 400px;
    padding: 10px 10px 20px;
    transition: all 0.3s ease;
}
.collapsible input[type="checkbox"]:checked + label::before {
    content: "-";
}




